{% extends 'navbar.html' %} 

{% block body %}
    <br>
    <h2>{{ game.title }} - {{ game.developer }} - {{ game.genre }}</h2>
    <br>
    {% for review in reviews %}
        {{ review.name }} - {{ review.content }} - {{ review.date }}
        <a href='{{ url_for("delete_review", id=review.id) }}'>delete review</a>
        <a href='{{ url_for("update_review", id=review.id) }}'>edit review</a>
        <br>
    {% endfor %}
    <a href='{{ url_for("create_review", id=game.id) }}'>add a new review</a>
{% endblock body %}